   <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <div class="row">              
              <div class="col-lg-12">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search by Language">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div><!-- /input-group -->
                <hr>
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class="row">              
              <div class="col-lg-12">  

              <ul class="list-group">
              <li class="list-group-item" ng-repeat="project in projects">
                <project-item project="project"></project-item>
              </li>
             
            </ul>              
                
              </div><!-- /.col-lg-6 -->

            </div><!-- /.row -->


          </div><!-- /.blog-post -->

         


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Rate Limit</h4>
            <p>0 out of 10</p>
          </div>
         
          <div class="sidebar-module">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->